@import 'design/design.scss';

.main {
	width: 100%;
	height: 100vh;
	.header {
		background-color: $dark_background;
		height: 4rem;
		width: 100%;
	}
	.body {
		width: 100%;
		height: 100vh;
		// TODO: COMMENTED FOR MVP RELEASE
		// margin-top: -4rem;
		// padding-top: 4rem;
		background-color: $background;

		display: flex;
		.decks {
			width: 25%;
		}
		.cards {
			width: 75%;
		}
	}
}
