@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font: 'Noto Sans JP', sans-serif;

$primary: #000000;
$white: #ffffff;
$background: #e6dfd3;
$dark_background: #906849;
$japanese_blue: #1c3563;
